<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu>
        <ActivatorContent>
            <MduiListAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
        </ActivatorContent>
        <ChildContent>
            <MduiMenuItem>Refresh</MduiMenuItem>
            <MduiMenuItem Disabled>Help & feedback</MduiMenuItem>
            <MduiMenuItem>Settings</MduiMenuItem>
            <MduiDivider />
            <MduiMenuItem><MduiIcon Icon="settings_power" />Sign out</MduiMenuItem>
        </ChildContent>
    </MduiMenu>
</div>