<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu>
        <ActivatorContent>
            <MduiAvatar>
                <img src="_content/MduiBlazor.Shared/images/avatar.jpg" />
            </MduiAvatar>
        </ActivatorContent>
        <ChildContent>
            <MduiMenuItem>Refresh</MduiMenuItem>
            <MduiMenuItem Disabled>Help & feedback</MduiMenuItem>
            <MduiMenuItem>Settings</MduiMenuItem>
            <MduiDivider />
            <MduiMenuItem><MduiIcon Icon="settings_power" />Sign out</MduiMenuItem>
        </ChildContent>
    </MduiMenu>
</div>