<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Title="Open" Icon="arrow_drop_down" Color="@Colors.Theme.Accent">
        <MduiMenuItem>Refresh</MduiMenuItem>
        <MduiMenuItem Disabled>Help & feedback</MduiMenuItem>
        <MduiMenuItem>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem><MduiIcon Icon="settings_power" />Sign out</MduiMenuItem>
    </MduiMenu>
</div>