<div class="mdui-p-a-2" style="max-width:360px;">
    <MduiCard ActionsStacked>
        <MediaContent>
            <MduiCardMedia Covered CoveredGradient Title="Title" SubTitle="Subtitle"
                 ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg" />
         </MediaContent>
         <ActionsContent>
             <MduiButton DisableRaised>Action 1</MduiButton>
             <MduiButton DisableRaised>Action 2</MduiButton>
         </ActionsContent>
     </MduiCard>
 </div>