<div class="mdui-p-a-2" style="max-width:360px;">
    <MduiCard Title="Title" SubTitle="Subtitle">
        <HeaderContent>
            <MduiCardHeader Title="Title" SubTitle="Subtitle"
                Avatar="_content/MduiBlazor.Shared/images/avatar.jpg" />
        </HeaderContent>
        <MediaContent>
            <MduiCardMedia ImgSrc="_content/MduiBlazor.Shared/images/image.jpg">
                <MenusContent>
                    <MduiIconButton TextColor="@Colors.Shades.White" Icon="share" />
                </MenusContent>
            </MduiCardMedia>
        </MediaContent>
        <ChildContent>
            子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」
        </ChildContent>
        <ActionsContent>
            <MduiButton DisableRaised>Action 1</MduiButton>
            <MduiButton DisableRaised>Action 2</MduiButton>
            <MduiIconButton Class="mdui-float-right" Icon="expand_more" />
        </ActionsContent>
    </MduiCard>
</div>