<div class="mdui-p-a-2" style="max-width:360px;">
    <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered CoveredTop Title="Title" SubTitle="Subtitle"
                 ImgSrc="_content/MduiBlazor.Shared/images/image.jpg" />
         </MediaContent>
         <ActionsContent>
             <MduiButton DisableRaised>Action 1</MduiButton>
            <MduiButton DisableRaised>Action 2</MduiButton>
        </ActionsContent>
    </MduiCard>
</div>