<div class="mdui-p-a-2" style="max-width:360px;">
    <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered ActionsStacked Title="Title" SubTitle="Subtitle"
                 ImgSrc="_content/MduiBlazor.Shared/images/image.jpg">
                 <ActionsContent>
                    <MduiButton DisableRaised>Action 1</MduiButton>
                    <MduiButton DisableRaised>Action 2</MduiButton>
                </ActionsContent>
            </MduiCardMedia>
        </MediaContent>
    </MduiCard>
</div>