@namespace MduiBlazor
@inherits MduiComponentBase

<div class="mdui-dialog-content">
    @ChildContent
</div>
@if (ActionsContent is not null)
{
    <div class="mdui-dialog-actions">
        @ActionsContent
    </div>
}