@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @ChildContent
</div>
@if (ActionsContent is not null)
{
    <div class="mdui-dialog-actions">
        @ActionsContent
    </div>
}