<div class="mdui-row-xs-2">
    <div class="mdui-col">
        <MduiButton Block>Button</MduiButton>
    </div>
    <div class="mdui-col">
        <MduiButton Block DisableRaised Color="@Colors.Theme.Accent">Button</MduiButton>
     </div>
 </div>