@inherits LayoutComponentBase

<MduiLayout>
    <MduiAppbar Fixed>
        <MduiToolbar Color="@Colors.Theme.Primary">
            <MduiIconButton IconName="menu" OnClick="_=>open=!open" />
            <MduiText Typo="@Typo.title">Title</MduiText>
            <MduiToolbarSpace />
            <a href="https://github.com/gaofen13/mdui-blazor" target="_blank">About</a>
            <MduiIconButton IconName="search" />
            <MduiIconButton IconName="refresh" />
            <MduiMenu>
                <ActivatorContent>
                    <MduiIconButton IconName="more_vert" />
                </ActivatorContent>
                <ChildContent>
                    <MduiMenuItem>Help & feedback</MduiMenuItem>
                    <MduiMenuItem Disabled>Settings</MduiMenuItem>
                    <MduiDivider />
                    <MduiMenuItem>Sign out</MduiMenuItem>
                </ChildContent>
            </MduiMenu>
        </MduiToolbar>
    </MduiAppbar>
    <MduiDrawer @bind-Opened="@open">
        <NavMenu />
    </MduiDrawer>

    <main class="mdui-p-a-2">
        <ErrorBoundary @ref="errorBoundary" Context="ex">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <div class="blazor-error-boundary">@ex.Message</div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</MduiLayout>