<MduiPanel>
    <MduiPanelItem Title="First">
        <p>First content</p>
        <p>First content</p>
        <p>First content</p>
        <p>First content</p>
        <p>First content</p>
        <MduiPanel>
            <MduiPanelItem Title="First">
                <p>First content</p>
                <p>First content</p>
                <p>First content</p>
                <p>First content</p>
                <p>First content</p>
                <p>First content</p>
            </MduiPanelItem>
            <MduiPanelItem Title="Second">
                <p>Second content</p>
                <p>Second content</p>
                <p>Second content</p>
                <p>Second content</p>
                <p>Second content</p>
                <p>Second content</p>
            </MduiPanelItem>
            <MduiPanelItem Title="Third">
                <p>Third content</p>
                <p>Third content</p>
                <p>Third content</p>
                <p>Third content</p>
                <p>Third content</p>
                <p>Third content</p>
            </MduiPanelItem>
        </MduiPanel>
    </MduiPanelItem>
    <MduiPanelItem Title="Second">
        <p>Second content</p>
        <p>Second content</p>
        <p>Second content</p>
        <p>Second content</p>
        <p>Second content</p>
        <p>Second content</p>
    </MduiPanelItem>
    <MduiPanelItem Title="Third">
        <p>Third content</p>
        <p>Third content</p>
        <p>Third content</p>
        <p>Third content</p>
        <p>Third content</p>
        <p>Third content</p>
    </MduiPanelItem>
</MduiPanel>