<div class="mdui-shadow-5" style="height: 360px;">
    <MduiLayout AppbarWithTab AppbarWithToolbar>
        <MduiAppbar Shadow="0">
            <MduiToolbar>
                <MduiIconButton Icon="menu" />
                <MduiText Typo="@Typo.title">Title</MduiText>
                <MduiToolbarSpace />
                <MduiIconButton Icon="search" />
                <MduiIconButton Icon="refresh" />
                <MduiMenu Icon="more_vert" AlignEnd>
                    <MduiMenuItem>Help & feedback</MduiMenuItem>
                    <MduiMenuItem Disabled>Settings</MduiMenuItem>
                    <MduiDivider />
                    <MduiMenuItem>Sign out</MduiMenuItem>
                </MduiMenu>
            </MduiToolbar>
            <MduiTab>
                <MduiTabItem Title="web" Default />
                <MduiTabItem Title="shopping" />
                <MduiTabItem Title="images" />
             </MduiTab>
        </MduiAppbar>
        <MduiLayoutContent>
            这里是页面内容
        </MduiLayoutContent>
    </MduiLayout>
</div>