<div class="mdui-shadow-5" style="height: 360px;">
    <MduiLayout AppbarWithTab>
        <MduiAppbar>
            <MduiTab Color="@Colors.Theme.Primary">
                <MduiTabItem Title="web" Default />
                <MduiTabItem Title="shopping" />
                <MduiTabItem Title="images" />
             </MduiTab>
         </MduiAppbar>
         <MduiLayoutContent>
             这里是页面内容
         </MduiLayoutContent>
     </MduiLayout>
 </div>