<div class="mdui-shadow-5" style="height: 360px;">
    <MduiLayout AppbarWithTabLarger>
        <MduiAppbar>
            <MduiTab Color="@Colors.Theme.Primary">
                <MduiTabItem Title="Phone" Icon="phone" Default />
                <MduiTabItem Title="Favorite" Icon="favorite" />
                <MduiTabItem Title="Calendar" Icon="perm_contact_calendar" />
            </MduiTab>
        </MduiAppbar>
        <MduiLayoutContent>
            这里是页面内容
        </MduiLayoutContent>
    </MduiLayout>
</div>