@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style">
    @ChildContent
</div>
<MduiOverlay Visible="@(_opened&&_variant==DrawerVariant.Temporary)" OnBackgroundClick="@OnOverlayClickedAsync" />
