.example {
    margin: 2em 0;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 12px;
    overflow: auto;
}

.example-demo {
    margin: 1em;
    padding: 0;
}

.example-tools {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.example-showcode ::deep .example-code {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.mdui-theme-layout-dark .example,
.mdui-theme-layout-dark .example-showcode ::deep .example-code,
.mdui-theme-layout-dark .example-tools {
    border: 1px solid hsla(0, 0%, 100%, .12);
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .example,
    .mdui-theme-layout-auto .example-showcode ::deep .example-code,
    .mdui-theme-layout-auto .example-tools {
        border: 1px solid hsla(0, 0%, 100%, .12);
    }
}

#p-g .example-demo ::deep .mdui-row>.mdui-col {
    background-color: #e8eaf6;
    border: 1px solid #c5cae9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mdui-theme-layout-dark #p-g .example-demo ::deep .mdui-row>.mdui-col {
    background-color: #424242;
    border-color: #757575;
}

@media(prefers-color-scheme: dark) {
    .mdui-theme-layout-auto #p-g .example-demo ::deep .mdui-row>.mdui-col {
        background-color: #424242;
        border-color: #757575;
    }
}