.example {
    margin-top: 1em;
    margin-bottom: 2.6em;
    position: relative;
}

.example-tools {
    position: absolute;
    right: 0;
    top: -24px;
    transition: top .3s;
    -webkit-user-select: none;
    user-select: none;
}

    .example-tools a {
        color: rgba(0,0,0,.54);
        display: inline-block;
        margin: 0 8px;
    }

.example-showcode .example-tools {
    top: 4px;
}

.example-demo-label {
    border: 1px solid rgba(0,0,0,.12);
    border-bottom: none !important;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    color: rgba(0,0,0,.38);
    display: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 9px 14px;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.example-showcode .example-demo-label {
    display: block;
}

.example-demo {
    padding: 0;
    transition: padding .3s;
}

.example-showcode .example-demo {
    border: 1px solid rgba(0,0,0,.12);
    border-top: none;
    padding: 14px;
}

::deep .example-code {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0 0 3px 3px;
    border-top: none !important;
    display: block;
    margin: 0;
}

.mdui-theme-layout-dark .example-demo-label, .mdui-theme-layout-dark .example-demo, .mdui-theme-layout-dark .example-showcode ::deep .example-code {
    border: 1px solid hsla(0,0%,100%,.12);
    color: hsla(0,0%,100%,.5);
}

.mdui-theme-layout-dark .example-tools a {
    color: hsla(0,0%,100%,.7);
}

::deep .example-demo .mdui-row>.mdui-col {
    background-color: #e8eaf6;
    border: 1px solid #c5cae9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mdui-theme-layout-dark .example-demo ::deep .mdui-row>.mdui-col {
    background-color: #424242 !important;
    border-color: #757575;
}
