<MduiText UseMduiTypo>
    <blockquote>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <footer>马尔克斯 ——《百年孤独》</footer>
    </blockquote>
</MduiText>