<MduiText UseMduiTypo>
    <ul>
        <li>条目 #1</li>
        <li>条目 #2
            <ul>
                <li>条目 #1</li>
                <li>条目 #2
                    <ul>
                        <li>条目 #1</li>
                        <li>条目 #2</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>条目 #3</li>
        <li>条目 #4</li>
    </ul>
</MduiText>