<MduiSelect TValue="@int" @bind-Value="@value">
    <option value="1">State 1</option>
    <option value="2">State 2</option>
    <option value="3">State 3</option>
    <option value="4">State 4</option>
</MduiSelect>

@code{
    int value = 1;
}