@page "/bars"

<h2>Toolbar</h2>
<MduiToolbar Color="@Colors.Theme.Primary">
    <MduiIconButton Icon="menu" />
    <MduiText Typo="@Typo.title">Title</MduiText>
    <MduiToolbarSpace />
    <MduiIconButton Icon="search" />
    <MduiIconButton Icon="refresh" />
    <MduiMenu Icon="more_vert" AlignEnd>
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</MduiToolbar>