@page "/cards"

<h2>完整 HTML 结构</h2>
<div class="mdui-p-a-2">
    <MduiCard Title="Title" SubTitle="Subtitle">
        <HeaderContent>
            <MduiCardHeader Title="Title" SubTitle="Subtitle"
                Avatar="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
        </HeaderContent>
        <MediaContent>
            <MduiCardMedia Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg">
                <MenusContent>
                    <MduiIconButton Color="@Colors.Shades.White" Icon="share" />
                </MenusContent>
            </MduiCardMedia>
        </MediaContent>
        <ChildContent>
            子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」
        </ChildContent>
        <ActionsContent>
            <MduiButton Shadow="0">action 1</MduiButton>
            <MduiButton Shadow="0">action 2</MduiButton>
            <MduiIconButton Class="mdui-float-right" Icon="expand_more" />
        </ActionsContent>
    </MduiCard>
</div>

<h2>覆盖在媒体元素上</h2>
<div class="mdui-p-a-2">
    <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered Title="Title" SubTitle="Subtitle"
                Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg" />
        </MediaContent>
        <ActionsContent>
            <MduiButton Shadow="0">action 1</MduiButton>
            <MduiButton Shadow="0">action 2</MduiButton>
        </ActionsContent>
        </MduiCard>
    </div>

    <h2>覆盖在媒体元素上</h2>
    <div class="mdui-p-a-2">
        <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered Title="Title" SubTitle="Subtitle"
                Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg">
                <ActionsContent>
                    <MduiButton Shadow="0">action 1</MduiButton>
                    <MduiButton Shadow="0">action 2</MduiButton>
                </ActionsContent>
            </MduiCardMedia>
        </MediaContent>
        </MduiCard>
    </div>

    <h2>在 .mdui-card-media-covered 上添加类 .mdui-card-media-covered-top 使覆盖层位于媒体元素顶部。</h2>
    <div class="mdui-p-a-2">
        <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered CoveredTop Title="Title" SubTitle="Subtitle"
                Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg" />
        </MediaContent>
        <ActionsContent>
            <MduiButton Shadow="0">action 1</MduiButton>
            <MduiButton Shadow="0">action 2</MduiButton>
        </ActionsContent>
        </MduiCard>
    </div>

    <h2>在 .mdui-card-media-covered 上添加类 .mdui-card-media-covered-transparent 使覆盖层拥有透明背景。</h2>
    <div class="mdui-p-a-2">
        <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered CoveredTransparent Title="Title" SubTitle="Subtitle"
                Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg" />
        </MediaContent>
        <ActionsContent>
            <MduiButton Shadow="0">action 1</MduiButton>
            <MduiButton Shadow="0">action 2</MduiButton>
        </ActionsContent>
        </MduiCard>
    </div>

    <h2>在 .mdui-card-media-covered 上添加类 .mdui-card-media-covered-gradient 使覆盖层拥有渐变背景。</h2>
    <div class="mdui-p-a-2">
        <MduiCard>
        <MediaContent>
            <MduiCardMedia Covered CoveredGradient Title="Title" SubTitle="Subtitle"
                Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg" />
        </MediaContent>
        <ActionsContent>
            <MduiButton Shadow="0">action 1</MduiButton>
            <MduiButton Shadow="0">action 2</MduiButton>
        </ActionsContent>
        </MduiCard>
    </div>

    <h2>按钮竖直排列</h2>
    <div class="mdui-p-a-2">
        <MduiCard ActionsStacked>
        <MediaContent>
            <MduiCardMedia Covered CoveredGradient Title="Title" SubTitle="Subtitle"
                Image="https://cdn.w3cbus.com/mdui/docs~1/static/1ca4b7b2b4b2f2352aeb.jpg" />
        </MediaContent>
        <ActionsContent>
            <MduiButton Shadow="0">action 1</MduiButton>
            <MduiButton Shadow="0">action 2</MduiButton>
        </ActionsContent>
        </MduiCard>
    </div>