@page "/chips"

<h2>纯文本</h2>
<div class="mdui-p-a-2">
    <MduiChip Title="Example Chip" />
</div>

<h2>含头像</h2>
<div class="mdui-p-a-2">
    <MduiChip Image="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" Title="Example Chip" />
</div>

<h2>含文字图标</h2>
<div class="mdui-p-a-2">
    <MduiChip IconLetter="A" Title="Example Chip" />
</div>

<h2>含图标</h2>
<div class="mdui-p-a-2">
    <MduiChip Icon="face" Title="Example Chip" />
</div>

<h2>含关闭按钮</h2>
<div class="mdui-p-a-2">
    <MduiChip DeleteButton Title="Example Chip" />
</div>

<h2>图标颜色</h2>
<div class="mdui-p-a-2">
    <MduiChip Icon="face" IconColor="@Colors.Blue.Primary" Title="Example Chip" />
</div>