@page "/tabs"

<h2>基础样式</h2>
<MduiTab>
    <MduiTabItem Title="web">web content</MduiTabItem>
    <MduiTabItem Title="shopping">shopping content</MduiTabItem>
    <MduiTabItem Title="images">images content</MduiTabItem>
</MduiTab>

<h2>可滚动</h2>
<MduiTab Scrollable>
    <MduiTabItem Title="web">web content</MduiTabItem>
    <MduiTabItem Title="shopping">shopping content</MduiTabItem>
    <MduiTabItem Title="images">images content</MduiTabItem>
    <MduiTabItem Title="videos">videos content</MduiTabItem>
    <MduiTabItem Title="news">news content</MduiTabItem>
    <MduiTabItem Title="maps">maps content</MduiTabItem>
    <MduiTabItem Title="books">books content</MduiTabItem>
    <MduiTabItem Title="flights">flights content</MduiTabItem>
    <MduiTabItem Title="apps">apps content</MduiTabItem>
    <MduiTabItem Title="dictionary">dictionary content</MduiTabItem>
</MduiTab>

<h2>居中对齐</h2>
<MduiTab Centered>
    <MduiTabItem Title="web">web content</MduiTabItem>
    <MduiTabItem Title="shopping">shopping content</MduiTabItem>
    <MduiTabItem Title="images">images content</MduiTabItem>
</MduiTab>

<h2>100% 宽度</h2>
<MduiTab FullWidth>
    <MduiTabItem Title="web">web content</MduiTabItem>
    <MduiTabItem Title="shopping">shopping content</MduiTabItem>
    <MduiTabItem Title="images">images content</MduiTabItem>
</MduiTab>

<h2>含图标</h2>
<MduiTab>
    <MduiTabItem Icon="phone">web content</MduiTabItem>
    <MduiTabItem Icon="favorite">shopping content</MduiTabItem>
    <MduiTabItem Icon="perm_contact_calendar">images content</MduiTabItem>
</MduiTab>

<h2>含图标和文本</h2>
<MduiTab>
    <MduiTabItem Icon="phone" Title="recents">web content</MduiTabItem>
    <MduiTabItem Icon="favorite" Title="favorites">shopping content</MduiTabItem>
    <MduiTabItem Icon="perm_contact_calendar" Title="nearby">images content</MduiTabItem>
</MduiTab>

<h2>含背景色</h2>
<MduiTab Color="@Colors.Theme.Primary">
    <MduiTabItem Icon="phone" Title="recents">web content</MduiTabItem>
    <MduiTabItem Icon="favorite" Title="favorites">shopping content</MduiTabItem>
    <MduiTabItem Icon="perm_contact_calendar" Title="nearby">images content</MduiTabItem>
</MduiTab>

<h2>默认激活的选项</h2>
<MduiTab>
    <MduiTabItem Title="web">web content</MduiTabItem>
    <MduiTabItem Default Title="shopping">shopping content</MduiTabItem>
    <MduiTabItem Title="images">images content</MduiTabItem>
    </MduiTab>

    <h2>禁用状态的选项</h2>
    <MduiTab>
    <MduiTabItem Title="web">web content</MduiTabItem>
    <MduiTabItem Disabled Title="shopping">shopping content</MduiTabItem>
    <MduiTabItem Title="images">images content</MduiTabItem>
    </MduiTab>