<MduiTableContainer>
    <MduiSimpleTable>
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Sex</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
                <td>man</td>
                <td>19</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
                <td>man</td>
                <td>20</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry the Bird</td>
                <td></td>
                <td>@@twitter</td>
                <td>feman</td>
                <td>21</td>
            </tr>
        </tbody>
    </MduiSimpleTable>
</MduiTableContainer>