@namespace MduiBlazor
@inherits MduiComponentBase

@if (Visible)
{
    <div class="@Classname" style="@Style" @attributes="@AdditionalAttributes" @onclick="@OnBackgroundClick">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnBackgroundClick { get; set; }
}