/* _content/MduiBlazor.Shared/Components/CodeSnippet.razor.rz.scp.css */
.snippet[b-pbo5gxtzqw] {
    margin: 0;
}

.hljs[b-pbo5gxtzqw] {
    position: relative;
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5 !important;
    color: #000;
    font-family: Consolas, Courier, Courier New, monospace;
    font-size: 14px !important;
    line-height: 1.7 !important;
    overflow-x: auto;
    padding: 10px 12px !important;
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw] {
    background-color: #383838 !important;
    color: #cecece;
}

@media(prefers-color-scheme: dark) {
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw] {
        background-color: #383838 !important;
        color: #cecece;
    }
}

[b-pbo5gxtzqw] .hljs-copy-button {
    top: 0.5rem;
    right: 0.5rem;
    border-color: #c1c1c1;
    background-color: #e1e1e1;
    opacity: 0;
    transform: none;
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="rgb(38,38,38)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="rgb(38,38,38)"  /></svg>');
    transition: background-color,border-color 200ms ease, opacity 200ms ease-out;
    cursor: pointer;
}

.mdui-theme-layout-dark .hljs-copy-wrapper[b-pbo5gxtzqw]  .hljs-copy-button {
    border-color: #717171;
    background-color: #515151;
}

@media(prefers-color-scheme: dark) {
    .mdui-theme-layout-auto .hljs-copy-wrapper[b-pbo5gxtzqw]  .hljs-copy-button {
        border-color: #717171;
        background-color: #515151;
    }
}

[b-pbo5gxtzqw] .hljs-copy-button:hover {
    border-color: #c1c1c1;
}

.hljs-copy-wrapper:hover[b-pbo5gxtzqw]  .hljs-copy-button,
[b-pbo5gxtzqw] .hljs-copy-button:focus {
    opacity: 1
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-comment,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-quote,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-variable {
    color: green
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-comment,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-quote,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-variable {
        color: green
    }
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-built_in,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-keyword,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-name,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-selector-tag {
    color: #569cd6
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-built_in,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-keyword,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-name,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-selector-tag {
        color: #569cd6
    }
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-meta,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-meta .hljs-keyword,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-tag {
    color: #9b9b9b;
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-meta,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-meta .hljs-keyword,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-tag {
        color: #9b9b9b;
    }
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-addition,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-attribute,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-literal,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-section,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-string,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-template-tag,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-template-variable,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-title,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-type {
    color: #d69d85
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-addition,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-attribute,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-literal,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-section,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-string,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-template-tag,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-template-variable,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-title,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-type {
        color: #d69d85
    }
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-deletion,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-meta,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-selector-attr,
.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-selector-pseudo {
    color: #2b91af
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-deletion,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-meta,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-selector-attr,
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-selector-pseudo {
        color: #2b91af
    }
}

.mdui-theme-layout-dark .hljs[b-pbo5gxtzqw]  .hljs-attr {
    color: #9cdcfe
}

@media(prefers-color-scheme: dark) {
    .mdui-theme-layout-auto .hljs[b-pbo5gxtzqw]  .hljs-attr {
        color: #9cdcfe
    }
}
/* _content/MduiBlazor.Shared/Components/ExampleSection.razor.rz.scp.css */
.example[b-evnn8g7ecq] {
    margin: 2em 0;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 12px;
    overflow: auto;
}

.example-demo[b-evnn8g7ecq] {
    margin: 1em;
    padding: 0;
}

.example-tools[b-evnn8g7ecq] {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.example-showcode[b-evnn8g7ecq]  .example-code {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.mdui-theme-layout-dark .example[b-evnn8g7ecq],
.mdui-theme-layout-dark .example-showcode[b-evnn8g7ecq]  .example-code,
.mdui-theme-layout-dark .example-tools[b-evnn8g7ecq] {
    border: 1px solid hsla(0, 0%, 100%, .12);
}

@media(prefers-color-scheme: dark) {

    .mdui-theme-layout-auto .example[b-evnn8g7ecq],
    .mdui-theme-layout-auto .example-showcode[b-evnn8g7ecq]  .example-code,
    .mdui-theme-layout-auto .example-tools[b-evnn8g7ecq] {
        border: 1px solid hsla(0, 0%, 100%, .12);
    }
}

#p-g .example-demo[b-evnn8g7ecq]  .mdui-row>.mdui-col {
    background-color: #e8eaf6;
    border: 1px solid #c5cae9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mdui-theme-layout-dark #p-g .example-demo[b-evnn8g7ecq]  .mdui-row>.mdui-col {
    background-color: #424242;
    border-color: #757575;
}

@media(prefers-color-scheme: dark) {
    .mdui-theme-layout-auto #p-g .example-demo[b-evnn8g7ecq]  .mdui-row>.mdui-col {
        background-color: #424242;
        border-color: #757575;
    }
}
/* _content/MduiBlazor.Shared/Components/PageContent.razor.rz.scp.css */
.toc[b-md1j7wqvk6] {
    border-left: 3px solid;
    font-size: 16px;
    margin: 0;
    position: relative;
}

@media (min-width: 480px) {
    .toc[b-md1j7wqvk6] {
        border-left-width: 4px;
        font-size: 17px;
    }
}

@media (min-width: 840px) {
    .toc[b-md1j7wqvk6] {
        border-left-width: 5px;
        font-size: 18px;
        margin-right: 400px;
    }
}

.toc[b-md1j7wqvk6]:before {
    color: #757575;
    content: "Contents";
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    padding-left: 16px;
}

@media (min-width: 840px) {
    .toc[b-md1j7wqvk6]:before {
        padding-left: 20px;
    }
}

@media (min-width: 480px) {
    .toc[b-md1j7wqvk6]:before {
        padding-left: 18px;
    }
}

.toc[b-md1j7wqvk6]  ul {
    list-style: none;
    margin: 0;
    padding-left: 16px;
}

.toc[b-md1j7wqvk6]>  ul {
    margin-top: 1em;
}

@media (min-width: 840px) {
    .toc[b-md1j7wqvk6]  ul {
        padding-left: 20px;
    }
}

@media (min-width: 480px) {
    .toc[b-md1j7wqvk6]  ul {
        padding-left: 18px;
    }
}

.toc[b-md1j7wqvk6]  ul li {
    margin: 1em 0;
}

.toc[b-md1j7wqvk6]  ul li:first-child {
    margin-top: 0;
}

.toc[b-md1j7wqvk6]  ul li ul {
    font-size: .83em;
    margin: 1em 0;
}

.toc[b-md1j7wqvk6]  a {
    color: inherit;
    text-decoration: none;
}
/* _content/MduiBlazor.Shared/Pages/ClassesPage.razor.rz.scp.css */
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-float-left,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-float-right,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-center,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-valign,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-left,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-center,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-right,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix {
    background-color: #e8eaf6;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 10px 15px;
}

.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-float-left,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-float-right,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-center,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-valign,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-left,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-center,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-right,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix {
    background-color: #424242;
}

@media (prefers-color-scheme: dark) {

    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-float-left,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-float-right,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-center,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-valign,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-left,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-center,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-text-right,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix {
        background-color: #424242;
    }
}

#p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix .mdui-float-left,
#p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix .mdui-float-right {
    background-color: #c5cae9;
}

.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix .mdui-float-left,
.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix .mdui-float-right {
    background-color: #616161;
}

@media (prefers-color-scheme: dark) {

    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix .mdui-float-left,
    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .example-demo .mdui-clearfix .mdui-float-right {
        background-color: #616161;
    }
}

#p-c[b-cpz6zv8ei8]  .mdui-row>.mdui-col {
    background-color: #e8eaf6;
    border: 1px solid #c5cae9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mdui-theme-layout-dark #p-c[b-cpz6zv8ei8]  .mdui-row>.mdui-col {
    background-color: #424242;
    border-color: #757575;
}

@media (prefers-color-scheme: dark) {

    .mdui-theme-layout-auto #p-c[b-cpz6zv8ei8]  .mdui-row>.mdui-col {
        background-color: #424242;
        border-color: #757575;
    }
}

#p-c table .is-hidden[b-cpz6zv8ei8],
#p-c .mdui-row .is-hidden[b-cpz6zv8ei8] {
    background-color: initial !important;
    color: #ccc !important;
    text-align: center;
}

.mdui-theme-layout-dark #p-c table .is-hidden[b-cpz6zv8ei8],
.mdui-theme-layout-dark #p-c .mdui-row .is-hidden[b-cpz6zv8ei8] {
    color: #9e9e9e !important;
}

@media (prefers-color-scheme: dark) {

    .mdui-theme-layout-auto #p-c table .is-hidden[b-cpz6zv8ei8],
    .mdui-theme-layout-auto #p-c .mdui-row .is-hidden[b-cpz6zv8ei8] {
        color: #9e9e9e !important;
    }
}

#p-c table .is-visible[b-cpz6zv8ei8],
#p-c .mdui-row .is-visible[b-cpz6zv8ei8] {
    background-color: #e8eaf6 !important;
    color: #3f51b5 !important;
    text-align: center;
}

.mdui-theme-layout-dark #p-c table .is-visible[b-cpz6zv8ei8],
.mdui-theme-layout-dark #p-c .mdui-row .is-visible[b-cpz6zv8ei8] {
    background-color: #424242 !important;
    color: #c8e6c9 !important;
}

@media (prefers-color-scheme: dark) {

    .mdui-theme-layout-auto #p-c table .is-visible[b-cpz6zv8ei8],
    .mdui-theme-layout-auto #p-c .mdui-row .is-visible[b-cpz6zv8ei8] {
        background-color: #424242 !important;
        color: #c8e6c9 !important;
    }
}

[b-cpz6zv8ei8].example-float .example-demo::before,
[b-cpz6zv8ei8].example-float .example-demo::after {
    display: table;
    content: " ";
}

[b-cpz6zv8ei8].example-float .example-demo::after {
    clear: both;
}
/* _content/MduiBlazor.Shared/Pages/ColorsPage.razor.rz.scp.css */
.color-palette[b-vo7wiqiejs] {
    font-size: 14px;
    font-weight: 500;
    list-style: none!important;
    margin: 0;
    padding: 0 0 36px!important;
    position: relative;
}

.color-palette li[b-vo7wiqiejs] {
    padding: 15px;
}

.color-palette .color-name[b-vo7wiqiejs] {
    display: block;
    padding-bottom: 30px;
}
