@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable

@if (_active)
{
    <div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
        @ChildContent
    </div>
}