@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" AdditionalAttributes="@AdditionalAttributes">
    <CascadingValue Name="Tab" Value="@this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>